<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.report">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".model.MainMenu"
            android:label="main menu" />

        <activity android:name=".AddStudent"
            android:label="add student"/>

        <activity android:name=".Display"
            android:label="display"/>

        <activity android:name=".model.IT_Management"
            android:label="IT Management"
            />

        <activity android:name=".model.Networking"
            android:label="@string/networking"
            />

        <activity android:name=".model.Software_Design"
            android:label="@string/software_design"/>

        <activity android:name=".model.System_Analysis"
            android:label="@string/system_analysis"/>

    </application>

</manifest>